:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

/* Container Styles */

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1400px) {
  .container {
    width: 1320px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

/* Main Sections Header Style */

.main-header {
  text-align: center;
  margin-bottom: 8rem;
}

.main-header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 1rem;
}

.main-header p {
  width: 52%;
  color: var(--Grayish-Blue);
  margin-inline: auto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .main-header p {
    width: 70%;
  }
}

/* Main Buttons Styles */

.actions {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn {
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  opacity: 0.7;
}

.btn.ios {
  background-color: var(--Strong-Cyan);
  box-shadow: 0 3px 0 hsl(171deg 69.23% 31.73%);
}

.btn.mac {
  background-color: var(--Light-Blue);
  box-shadow: 0 3px 0 hsl(233deg 47.76% 50.54%);
}

@media (max-width: 576px) {
  .actions {
    flex-direction: column;
    width: 90%;
  }
  .btn {
    width: 100%;
  }
}
/* Start Header Section */

.header-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media (max-width: 376px) {
  .header-section {
    background-image: url(./images/bg-header-mobile.png);
  }
}

.header-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section h1 {
  font-size: 4rem;
  font-size: 600;
  color: var(--Dark-Grayish-Blue);
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .header-section h1 {
    font-size: 3rem;
  }
}

.header-section p {
  color: var(--Grayish-Blue);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  width: 47%;
}

@media (max-width: 768px) {
  .header-section p {
    width: 70%;
  }
}


/* End Header Section */

/* Start About Section */

.about-section {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section .about-component {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .about-section .about-component {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.about-section .about-component .image {
  max-width: 80rem;
  margin-left: -4rem;
}

@media (max-width: 768px) {
  .about-section .about-component .image {
    margin-left: 0;
    max-width: 70%;
  }
}

.about-section .about-component .image img {
  width: 100%;
}

.about-section .about-component .info .text {
  padding: 2rem;
}

.about-section .about-component .info .text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 1rem;
}

.about-section .about-component .info .text p {
  width: 57%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
}

@media (max-width: 768px) {
  .about-section .about-component .info .text p {
    text-align: center;
    width: 70%;
    margin-inline: auto;
  }
}

/* End About Section */

/* Start Features Section */

.features-section {
  padding: 8rem 0;
}

.features-section .image {
  max-width: 80rem;
  margin-inline: auto;
}

.features-section .image img {
  width: 100%;
}
/* End Features Section */

/* Start Services Section */

.services-section {
  padding: 8rem 0;
}

.services-section .services-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  text-align: center;
  gap: 4rem;
}

.services-section .services-box .service img {
  width: 4rem;
  margin-bottom: 2rem;
}

.services-section .services-box .service h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 1rem;
}

.services-section .services-box .service p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
  width: 80%;
  margin-inline: auto;
  line-height: 1.5;
}

/* End Services Section */

/* Strat Skills Section */

.skills-section {
  padding: 8rem 0;
}

.skills-section .container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 4rem;
}

@media (max-width: 576px) {
  .skills-section .container {
    gap: 6rem;
  }
}
/* End Skills Section */

/* Start Download Section */

.download-section {
  padding: 8rem 0;
}

.download-section .actions {
  justify-content: center;
}
/* End Download Section */

/* Start Footer */

footer {
  background-color: #f5f6f8;
  overflow: hidden;
}

footer .container {
  padding: 4% 10%;
  display: flex;
  align-items: center;
  gap: 10rem;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    gap: 5rem;
  }
}

footer .container .logo {
  width: 5rem;
}

footer .container .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

@media (max-width: 768px) {
  footer .container .links {
    flex-direction: column;
  }
}

footer .container .links ul {
  display: flex;
  gap: 8rem;
}

@media (max-width: 576px) {
  footer .container .links ul {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
}

footer .container .links ul .col a {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #85898c;
  transition: .3s;
}

footer .container .links ul .col a:hover {
  color: var(--Strong-Cyan);
}

footer .container .links .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer .container .links .social i {
  font-size: 2.5rem;
  color: #4e555b;
  cursor: pointer;
  transition: .3s;
}

footer .container .links .social i:hover {
  color: var(--Strong-Cyan);
}

footer .attribution {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: #4e555b;
}

footer .attribution a {
  color: var(--Grayish-Blue);
}

footer .attribution a:hover {
  color: var(--Strong-Cyan);
}
/* End Footer */
